#change-password-confirm {
  float: right;
  margin-top: 5px;
  padding: 5px;
  background: #28a745;
  border-radius: 9px;
  width: 125px;
  border: 1px solid grey;
  cursor: pointer;
}

#change-password-final-confirm {
  float: right;
  margin-top: 5px;
  padding: 5px;
  background: #28a745;
  border-radius: 9px;
  width: 125px;
  border: 1px solid grey;
  cursor: pointer;
}

#change-password-wrapper {
  padding: 50px 130px;
  padding-left: 30px;
  input {
    width: 300px;
  }
}

@media screen and (max-width: 420px) {
  #change-password-wrapper {
    padding: 0px 0px;
    padding-left: 0px;
    input {
      width: 196px;
      font-size: 13px;
    }
  }
}
