<div id="change-password-wrapper">
  <div class="container">
    <div class="row">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
        <ng-container *ngIf="!showChangePasswordField">
          <div *ngIf="showCurrentPasswordField" class="form-group" style="margin-bottom:40px;">
            <label for="change-password" style="margin-bottom:15px"> Current password</label>
            <input id="change-password" type="password" formControlName="currentPassword" class="form-control"
              style="margin-bottom: 20px;" [ngClass]="{ 'is-invalid': currentSubmitted && f.currentPassword.errors }"
              placeholder="Enter your current password" />
            <div id="change-password-eye-icon1"
              (click)="handleOnPasswordToggle(0,'change-password')"
              class="position-relative" style="cursor:pointer;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-eye open-icon1" style="position: absolute;right: 9px;top: -46px; display: none;"
                viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-eye-slash closed-icon1" style="position: absolute;right: 9px;top: -46px;"
                viewBox="0 0 16 16">
                <path
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                <path
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                <path
                  d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z" />
              </svg>
            </div>
            <button id="change-password-confirm" (click)="checkCurrentPassword()"
              class="btn btn-success font-sanspro">Confirm</button>
            <div *ngIf="currentSubmitted && !!f.currentPassword.errors" class="invalid-feedback">
              <div *ngIf="!!f.currentPassword.errors.required">Password is required</div>
              <div *ngIf="!!f.currentPassword.errors.minlength">Password must have a minimum of 5 characters</div>
              <div *ngIf="!!f.currentPassword.errors.notMatch">Password does not match with current password</div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showChangePasswordField">
          <div class="form-group">
            <label for="new-password">New password</label>
            <input id="new-password" type="password" formControlName="newPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Enter your new password" />
            <div id="change-password-eye-icon2"
              (click)="handleOnPasswordToggle(1,'new-password')" class="position-relative"
              style="cursor:pointer;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-eye open-icon2" style="position: absolute;right: 9px;top: -24px; display: none;"
                viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-eye-slash closed-icon2" style="position: absolute;right: 9px;top: -24px;"
                viewBox="0 0 16 16">
                <path
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                <path
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                <path
                  d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z" />
              </svg>
            </div>
            <div *ngIf="submitted && !!f.newPassword.errors" class="invalid-feedback">
              <div *ngIf="!!f.newPassword.errors.required">Password is required</div>
              <div *ngIf="!!f.newPassword.errors.minlength">Password must have a minimum of 5 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="repeat-new-password">Repeat new password</label>
            <input id="repeat-new-password" type="password" formControlName="repeatPassword" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }"
              placeholder="Repeat your new password" />
            <div id="change-password-eye-icon3"
              (click)="handleOnPasswordToggle(2,'repeat-new-password')"
              class="position-relative" style="cursor:pointer;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-eye open-icon3" style="position: absolute;right: 9px;top: -24px; display: none;"
                viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-eye-slash closed-icon3" style="position: absolute;right: 9px;top: -24px;"
                viewBox="0 0 16 16">
                <path
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                <path
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                <path
                  d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z" />
              </svg>
            </div>
            <div *ngIf="submitted && !!f.repeatPassword.errors" class="invalid-feedback">
              <div *ngIf="!!f.repeatPassword.errors">Passwords do not match!</div>
            </div>
          </div>
          <div class="form-group">
            <button id="change-password-final-confirm" class="btn btn-success font-sanspro">Confirm</button>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
<h6 *ngIf="submitted && resetMessage">Password changed! You will be redirected to Login page shortly...</h6>