<div id="stepper" class="d-flex justify-content-center">
  <div id="step-one" class="step">
    <div class="circle">1.</div>
    <div class="label font-weight-normal font-lato main-heading">Origin</div>
    <app-svg-first-step class="d-none d-md-flex"></app-svg-first-step>
    <app-svg-first-step-sm class="d-md-none"></app-svg-first-step-sm>
  </div>
  <div class="divider"></div>
  <div id="step-two" class="step">
    <div class="circle">2.</div>
    <div class="label font-weight-normal font-lato main-heading">Brewing</div>
    <app-svg-second-step class="d-none d-md-flex"></app-svg-second-step>
    <app-svg-second-step-sm class="d-md-none">
    </app-svg-second-step-sm>
  </div>
  <div class="divider"></div>
  <div id="step-three" class="step">
    <div class="circle">3.</div>
    <div class="label font-weight-normal font-lato main-heading">Taste</div>
    <app-svg-third-step class="d-none d-md-flex"></app-svg-third-step>
    <app-svg-third-step-sm class="d-md-none"></app-svg-third-step-sm>
  </div>
</div>