#forgot-password-verification-wrapper {
  height: 400px;
}
#forgot-password-back-to-login {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 25px;
}
#forgot-password-title,
#forgot-password-verification-title {
  width: 100%;
  margin-bottom: 50px;
}

// confirm forgot password button
#forgot-password {
  width: 180px;
  float: right;
  margin-bottom: 50px;
}

#forgot-password-confirmation-text-wrapper {
  margin-top: 40px;
}
