#reset-password-verification-wrapper {
  height: 400px;
}
#reset-password-back-to-login {
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 18px;
} 
#reset-password-title,
#reset-password-verification-title {
  width: 100%;
  margin-bottom: 50px;
  padding: 1rem;
}

// confirm reset/change password button
#reset-password {
  width: 180px;
  float: right;
  margin-bottom: 50px;
}

#reset-password-confirmation-text-wrapper {
  margin-top: 40px;
}
