<svg style="width: 100%;" height="1" viewBox="0 0 750 1" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="375" y1="0.5" x2="750" y2="0.5" stroke="url(#paint0_linear)" />
  <line x1="375" y1="0.5" y2="0.5" stroke="url(#paint1_linear)" />
  <defs>
    <linearGradient id="paint0_linear" x1="562.5" y1="1.00112" x2="750" y2="-31.9998" gradientUnits="userSpaceOnUse">
      <stop />
      <stop offset="1" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="paint1_linear" x1="187.5" y1="-0.00111511" x2="-3.1138e-05" y2="32.9998"
      gradientUnits="userSpaceOnUse">
      <stop />
      <stop offset="1" stop-opacity="0" />
    </linearGradient>
  </defs>
</svg>